<div class="main-content">
  <%= partial 'descriptif/le_chateau' -%>

  <%= partial 'descriptif/rez_de_chaussee' -%>

  <%= partial 'descriptif/premier_etage' -%>

  <%= partial 'descriptif/second_etage' -%>

  <%= partial 'descriptif/divers' -%>
</div>
