<div class="main-content">
  <%= partial 'le_chateau/situation' -%>

  <%= partial 'le_chateau/descriptif' -%>

  <%= partial 'le_chateau/histoire' -%>

  <%= partial 'le_chateau/poeme' -%>

  <%= partial 'le_chateau/equipement' -%>

  <%= partial 'le_chateau/a_visiter' -%>

  <%= partial 'le_chateau/reperes' -%>
</div>
