<div class="main-content">
  <%= partial 'les_chambres/oiseaux' -%>

  <%= partial 'les_chambres/bleue' -%>

  <%= partial 'les_chambres/jaune' -%>

  <%= partial 'les_chambres/basse' -%>

  <%= partial 'les_chambres/haute' -%>
</div>
